<div class="card">
    {% if post.image %}
    <div class="card-image">
        <img src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    {% else %}
    <header class="card-header">
        <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </header>
    {% endif %}
    <div class="card-content">
        <div class="content">
            {% if post.image %}
            <a class="title is-4" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            {% endif %}
            {% if post.summary %}
            {{ post.summary | markdownify }}
            {% else %}
            <p>{{ post.excerpt }}</p>
            {% endif %}
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">Lese mehr</a>
        </div>
    </div>
    <footer class="card-footer">
        <p class="post-date">
            Veröffentlicht am:
            {{ post.date | date: "%-d." }}
            {% case post.date | date: "%B" %}
            {% when "January" %}Januar
            {% when "February" %}Februar
            {% when "March" %}März
            {% when "April" %}April
            {% when "May" %}Mai
            {% when "June" %}Juni
            {% when "July" %}Juli
            {% when "August" %}August
            {% when "September" %}September
            {% when "October" %}Oktober
            {% when "November" %}November
            {% when "December" %}Dezember
            {% endcase %}
            {{ post.date | date: "%Y" }}
        </p>
    </footer>
</div>