<div class="support-note">
    <p>Wenn dir meine Videos auf 'Smart Home Bastler' oder die hilfreichen Tools auf meiner Website gefallen und du
        meine Arbeit unterstützen möchtest, freue ich mich über jede Art von Unterstützung</p>

    <div class="support-links">
        <a href="https://www.amazon.de/hz/wishlist/ls/3FT7MNGRVOTM3?ref_=wl_share" target="_blank">
            <img src="/img/logos/amazon_wishlist_logo.png" alt="Amazon Wishlist" class="support-icon">
            <span>Amazon Wishlist</span>
        </a>
        <a href="https://www.buymeacoffee.com/bastler" target="_blank">
            <img src="/img/logos/buy_me_a_coffee_logo.png" alt="Buy Me a Coffee" class="support-icon">
            <span>Buy Me a Coffee</span>
        </a>
        <a href="https://www.paypal.me/kramlmaxx" target="_blank">
            <img src="/img/logos/paypal_donate_logo.png" alt="PayPal Donate" class="support-icon">
            <span>PayPal Donate</span>
        </a>
    </div>

    <p>❤️ Danke, dass du Teil der Community bist! ❤️</p>
</div>