.description {
    color: $text-strong; // Nutze die Textfarbe aus Bulma
    font-size: 1rem; // Leicht anpassen für Beschreibung
    line-height: 1.5; // Zeilenhöhe für bessere Lesbarkeit
    text-align: center; // Zentriere den Text
    margin-bottom: 1.5rem; // Abstand zu anderen Elementen
}