/* shbcustom.scss */
.scroll-to-top {
    display: none; // Unsichtbar, bis der Benutzer scrollt
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #1598b3; // Beispiel: Verwendung einer SCSS-Variable aus dem Theme
    color: white;
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 5px #ffffff;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
    background-color: darken(#1598b3, 10%);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .scroll-to-top {
        bottom: 15px;
        right: 15px;
    }
}

.shb-main-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    border: 1px solid #1598b3;
    border-radius: 8px;
    box-shadow: 0 4px 4px 6px #1598b380;
}