/* shbcustom.scss */
.scroll-to-top {
    display: none; // Unsichtbar, bis der Benutzer scrollt
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #1598b3; // Beispiel: Verwendung einer SCSS-Variable aus dem Theme
    color: white;
    border-radius: 50%;
    padding: 15px 15px;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 5px #ffffff;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
    background-color: darken(#1598b3, 10%);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .scroll-to-top {
        bottom: 15px;
        right: 15px;
    }
}

.shb-main-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    border: 1px solid #1598b3;
    border-radius: 8px;
    box-shadow: 0 4px 4px 6px #1598b380;
}

.shb-dropdown {
    margin: 0 0 20px;
    text-align: center;
    display: flex;
}

.shb-dropdown-toggle {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f39c12;
    color: #ffffff;
    text-shadow: 0 0 2px #000000, 0 0 5px #000000;
    padding: 10px 5px;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 5px #ffffff;
    border-radius: 5px;
    text-align: center;
    min-width: 50%;
    max-width: 100%;
    display: inline-block;
}

.shb-dropdown-toggle.rotated {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    /* Text von unten nach oben */
    padding: 20px 30px;
    min-width: 6%;
    max-width: 7%;
    height: auto;
}

.shb-dropdown-toggle span {
    float: right;
}

.shb-dropdown-toggle.rotated span {
    transform: rotate(270deg);
    transition: transform 0.3s ease;
    /* Für eine flüssige Animation */
    display: inline-block;
    /* Nötig für transform */
}

.shb-dropdown-content {
    padding: 20px;
    text-align: left;
    line-height: 1.5;
    background-color: #1a1a1a;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 5px #ffffff;
}

.shb-dropdown-youtube {
    margin: 0 auto;
    max-width: 60%;
}